.navbar {
    display: flex;
    /* position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-right: 0px; */
    border: 1px solid blue; 
}

.navbar-inner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: no-wrap;
    padding: 12px 0px 7px 0px;
    /* padding: 12px 0px 15px 0px; */
    align-items: center;
    width: 100%;
}
/* 
.etsyLogo > svg {
    box-sizing: border-box;
    width: 87px;
    height: 40px;
    margin: -4px 6px -1px -4px;
    fill: #F1651F;
} */

   .memesy-logo {
        box-sizing: border-box;
        /* position: absolute; */
        width: 170px;
        height: auto;
        margin-left: -5px;
        margin-top: -10px;
        /* padding: 5px 15px 0 0; */
        /* margin: -4px 6px -1px -4px; */
        /* margin: 0px 0px 40px 0px; */
        fill: #F1651F;
        /* border: 1px solid red; */
        /* z-index: 5; */
    }

.etsyLogo:hover {
    cursor: pointer;
}

/* search form container */
.searchbar-form {
    
    max-height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px 0px;
    margin: 0 3px 0 0;
}

.searchbar-form input[type="text"] {
    /* min-width: 56.7vw; */
    min-width: 53.5vw;

    /* max-width: 56.9vw; */
    /* min-width: 50vw;
    max-width: 56.9vw; */
    height: 43.5px;
    border-radius: 25px;
    font-size: 16px;
    border-top: 0.3px solid rgba(34, 34, 34, 0.15);
    border-bottom: 0.3px solid rgba(34, 34, 34, 0.15);
    border-left: 0.3px solid rgba(34, 34, 34, 0.15);
    border-right: 0.3px solid rgba(34, 34, 34, 0.15);
    box-shadow: 1px 1px 10px #E8E8E8;
    outline: none;
    text-indent: 17px;
    
    /* box shadow */
    /* -webkit-box-shadow:inset 0 0 1.5px 0.001px #000;
    -moz-box-shadow:inset 0 0 1.5px 0.001px #000; */
    box-shadow:inset 0 0 1.5px 0.1px #000;
    box-shadow: 0 0 1px 0.1px #000;
    
    background: transparent;
}

.searchbar-form input[type="text"], textarea{
    background-image: linear-gradient(#EEEEEE,#EFEFEF, #EEEEEE);
}


/* searchbar-form clicked state, add below: */



/* padding for searchbar placeholder text */
.searchbar-form input[type="text"]::placeholder {
    font-size: 18px;
}


/* .navbar-icon {
    height: 20px;
    width: 20px;
} */



.search-icon > svg {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 28px;
    height: 24.5px;
    margin: 13px 0px auto -27px;
    /* z-index: 2; */
}

.search-icon {
        box-sizing: border-box;

    display: inline-block;
    position: relative;
    /* padding: 0px 15px 5px 0px; */
    margin: 0px 15px 5px 0px;
    width: 20px;
    height: 45px;
    right: 21px;
    z-index: 2;
}



.search-icon:hover {
    background-color: #e8e8e8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /* border-top: 0.3px solid black;
    border-right: 0.3px solid black;
    border-bottom: 0.3px solid black; */
    /* animation: zoominoutsinglefeatured 15s forwards; */
}

.signin-signout {
    font-weight: 900;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    min-width: auto;
    padding: 10px; /* this is for the hover circle, do not remove */
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0px 15% 0 -30%;
}

.signin-signout:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.cart-icon > svg {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    padding-bottom: 1px;
}

.cart-icon {
    position: absolute;
    right: 0%;
    bottom: 43%;
    /* display: block;  */
    justify-content: center;
    align-items: center; 
    /* width: 32px;
    height: 32px; */
    /* min-width: 40px;
    min-height: 40px; */
    right: 0%;
    border-radius: 50%;
    padding: 5px;
    /* padding: 2px 0px 0px 0px; */
    /* margin: 0px 0px 0px 0.5%; */
}


.cart-icon:hover {
    background-color: gainsboro;
    cursor: pointer;
}


/* SEARCH ICON HOVER ZOOM OUT EFFECT*/

/* 
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
} */



@media only screen and (min-width: 80%) {
  .navbar-inner {
      flex-wrap: wrap;
  }
}


@media only screen and (max-width: 1500px) {
  .searchbar-form input[type="text"] {
        min-width: 72vw;
    }
  /* .searchbar-form input[type="text"] {
        min-width: 76vw;
    } */
}



@media only screen and (max-width: 900px) {
    .navbar {
        background-color: #FFFFFF;
        /* width: 100%; */
        /* min-width: 1000px; */
        height: auto;
        /* height: 100px; */
        display: flex; 
        justify-content: flex-start;
        /* flex-wrap: wrap; */
        /* align-items: center; */
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        /* padding-left: 10px; */
    }

    .searchbar-form {
        max-height: 52px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0px 10px 0px;
        margin: 0 3px 0 -80px;
    }

    .searchbar-form input[type="text"] {
        min-width: 680px;
        width: 75vw;
    }

    /* .etsyLogo > svg {
        box-sizing: border-box;
        width: 87px;
        height: 40px;
        margin: 0px 0px 40px 0px;
        fill: #F1651F;
    } */

  
    .signin-signout {
        font-weight: 900;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        min-width: auto;
        padding: 10px; /* this is for the hover circle, do not remove */
        border-radius: 30px;
        box-sizing: border-box;
        margin: 0px 15% 40px -220px;
    }

    .cart-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        padding: 2px 0px 0px 0px;
        margin: 0px 0px 40px -80px;
    }


}
