.navbar {
    /* position: relative; */
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid gainsboro;
    /* border: 1px solid blue;  */
}

.navbar > img {
    height: 50px;
    width: auto;
}

.login-logout-btn {
    height: fit-content;
    width: fit-content;
    border: 1px solid gainsboro;

    font-family: 'Helvetica', sans-serif;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    min-width: auto;
    padding: 10px; /* this is for the hover circle, do not remove */
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0px 15% 0 -30%;
}


.login-logout-btn:hover {
    background-color: white;
    border: 1px solid #F08B8F;
    cursor: pointer;
}
