.date-carousel {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    padding: 10px 0px 0px 0px;
    /* margin: 0 20px 0 20px; */
    /* border: 1px solid blue; */
}


.date-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 2% 0px 2%;
    margin-right: 30px;
    /* border: 1px solid green; */
}

.date-main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-height: 100px;
    /* border: 1px solid blue; */
}

.date-main-header > h3 {
    color: rgb(126, 126, 126);
    /* font-size: 24px; */
    font-size: 26px;
    margin: 5px;
}

.date-main-header > p {
    color: #F08B8F;
    /* font-size: 16px; */
    font-size: 18px;
    margin: 5px;
}

.star-rating {
    display: flex;
    position: absolute;
    /* right: 2%; */
    right: 0;
    top: 25%;
    width: auto;
    color: #F08B8F;
    /* border: 1px solid red; */
}

.fa-star, .fa-star-half {
    color: #F08B8F;
    display: flex;
    height: 20px;
    width: 20px;
    /* margin: 0px 1px 0px 1px; */
}

.date-main-img-container {
    
    display: flex;
    justify-content: center;
    
    /* max-height: 600px;
    max-height: 600px; */
    height: 600px;
    width: 100%;
    margin: 30px 0px 30px 0px;
    /* border: 1px solid pink; */
}


.date-main-img {
    position: relative;
    object-fit: contain;
    display: flex;
    justify-content: center;
    /* max-height: fit-content; */
    height: 100%;
    max-width: 70%;
    /* border: 1px solid turquoise; */
}

.date-main-img > img {
    max-height: 600px;
    border-radius: 5.5px;
    /* border: 1px solid fuchsia; */
}


.fade-in{
    animation: fade-in;
    animation-duration: 5s;
}

@keyframes fade-in {
  0%   {opacity: 0.3}
  30%  {opacity: 1}
  100%  {opacity: 1}
}



.arrow-icons {
    position: absolute;
    display: flex;
    font-size: 50px;
    width: 100%;
    height: auto;
    color: gainsboro;
    opacity: 0.3;
    top: 375px;
    z-index: 5;
}

/* .arrow-icons:hover{
    opacity: 0.6;
} */

.left-arrow-icon {
    position: absolute;
    left: 4%;
    animation: arrow-animation;
    animation-duration: 1s;
    /* border: 1px solid red; */
}

.left-arrow-icon:hover{
    opacity: 0.6;
}

.right-arrow-icon {
    position: absolute;
    right: 4%;
    animation: arrow-animation;
    animation-duration: 1s;
    /* border: 1px solid red; */
}

.right-arrow-icon:hover{
    opacity: 0.6;
}





.date-detailed-info {
    position: relative;
    margin: 0;
    /* border: 1px solid red; */
}

.detail-name {
    color: rgb(126, 126, 126);
    font-size: 24px;
}

.detail-cats {
    color: rgb(126, 126, 126);
    font-size: 16px;
}


.dollars-rating {
    display: flex;
}

.fa-dollar-sign{
    height: auto;
    width: auto;
    margin: 0px 1.5px 0px 1.5px;
    /* border: 1px solid pink; */
}

.dollar-color{
    color: #F08B8F;
}

.dollar-gray{
    color: gainsboro;
}

.detail-rating {
    display: flex;
    color: #F08B8F;
}


.date-address {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 400px;
    /* border: 1px solid green; */
}

.date-address > h3 {
    font-size: 18px;
}
.date-address > p {
    margin: 0;
}



















