.interests-next-button {
      box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-style: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    outline:none;
}

.interests-next-button:hover {
  cursor: pointer;
}



.body-6 {
background-image: url("../../images/interests.jpg");
background-size: cover;
background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: white;
  font-weight: bold;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
}




.interests-label {

    margin-left: 100px;
      color: white;
      font-weight: bold;
      font: 40px;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 20px;
}


.option-input {
    margin-left: 20px;
    font-weight: bold;
      font: 30px;
      font-family: 'Raleway', sans-serif;
          background-color: transparent;
    border-color: white;
 
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: white;
  font-weight: bold;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
    //   background-color: transparent;
    // border-color: white;
    // border-style: ridge;
}

.option-input:hover {
  background:white;
}
.option-input:checked {
  background: #FF9994;
}
.option-input:checked::before {
    
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
    background-color: transparent;
    
   
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #FF9994;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  
}
.option-input.radio {
    border-style: solid;
    background-color: transparent;
    border-color: white;
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

