.home-carousel {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 95%;
    /* border: 1px solid pink; */
}

.hc-img-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%; 
    width: 70%;
    /* border: 1px solid yellowgreen; */
}

.hc-img-container > img {
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    max-width: 100%;
    /* margin: 0px 20px 0px 20px; */
}



/* .arrow-icons {
    position: absolute;
    display: flex;
    font-size: 50px;
    width: 100%;
    height: auto;
    color: gainsboro;
    opacity: 0.3;
    top: 375px;
    z-index: 100;
}
 */



.home-left-arrow-icon {
    position: absolute;
    bottom: 70px;
    left: 4%;
    z-index: 100;
    padding: 5px;
    /* animation: arrow-animation;
    animation-duration: 1s; */
    /* border: 1px solid red; */
}

.home-left-arrow-icon:hover{
    opacity: 0.6;
    cursor: pointer;
}

.home-right-arrow-icon:hover{
    opacity: 0.6;
    cursor: pointer;
}

.home-right-arrow-icon {
    position: absolute;
    right: 4%;
    bottom: 70px;
    z-index: 100;
    padding: 5px;
    /* animation: arrow-animation;
    animation-duration: 1s; */
    /* border: 1px solid red; */
}

.hc-detailed-info {
    display: flex;
    /* justify-content: center; */
    text-align: left;
    height: 100%;
    min-width: 25%;
    max-width: 35%;
    width: auto;
    /* border: 1px solid orange; */
}

.hc-main-header > h3 {
    font-size: 40px;
    /* border: 1px solid red; */
}

.hc-date-address {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.hc-date-address > p {
    margin: 0;
}