.home-carousel {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 95%;
    border: 1px solid pink;
}

.hc-img-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%; 
    width: 60%;
    border: 1px solid yellowgreen;
}

.hc-img-container > img {
    height: 100%;
    max-width: 100%;
}



/* .arrow-icons {
    position: absolute;
    display: flex;
    font-size: 50px;
    width: 100%;
    height: auto;
    color: gainsboro;
    opacity: 0.3;
    top: 375px;
    z-index: 5;
}
 */



.home-left-arrow-icon {
    position: absolute;
    bottom: 50px;
    left: 4%;
    animation: arrow-animation;
    animation-duration: 1s;
    /* border: 1px solid red; */
}

.home-left-arrow-icon:hover{
    opacity: 0.6;
}

.home-right-arrow-icon {
    position: absolute;
    right: 4%;
    bottom: 50px;
    animation: arrow-animation;
    animation-duration: 1s;
    /* border: 1px solid red; */
}

.home-right-arrow-icon:hover{
    opacity: 0.6;
}

.hc-detailed-info {
    display: flex;
    height: 100%;
    min-width: 40%;
    width: auto;
    border: 1px solid orange;
}