.home {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    /* background-color: rgb(248, 248, 248); */
    padding-top: 30px;
}

.home-dashboard {
    display: flex;
    margin: 0 100px 0 30px;
}

.dash-sidebar {
    height: 670px;
    width: 320px;
    margin-top: 30px;
    /* border: 1px solid red; */
}

.tabs-container {
    display: flex;
    color: black;
}

.tab-left {
    background-color:rgb(238, 238, 238);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 0;
    font-family: 'Raleway', 'sans-serif';
    cursor: pointer;
    font-weight: 700;
}

.tab-right {
    background-color: rgb(238, 238, 238);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 0 0;
    font-family: 'Raleway', 'sans-serif';
    cursor: pointer;
    font-weight: 700;
}

.tab-inactive {
    margin-top: 10px;
    opacity: .7;
    font-weight: 400;
}

.datesTab {
    /* height: 650px; */
    height: 610px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Raleway', 'sans-serif';
    border-radius: 0 0 5px 5px;
}

.collectionsTab {
    /* height: 650px; */
    height: 610px;
    width: 100%;
    background-color:rgb(238, 238, 238);
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Raleway', 'sans-serif';
    border-radius: 0 0 5px 5px;
}

.collectionsTab::-webkit-scrollbar-track {
  padding: 2px 0;
  border-radius: 5px;
  background-color: rgb(243, 202, 202);
}

.collectionsTab::-webkit-scrollbar {
  width: 10px;
  
}

.collectionsTab::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: rgb(252, 240, 240);
  opacity: 0.3;
}

.collection-item-container {
    position: relative;
}

.similar-date {
    display: flex;
    text-align: left;
    font-size: 14px;
    position: absolute;
    display: none;
    left: 50%;
    top: 0;
    /* height: 50px;  */
    /* width: 100px; */
    border: 1px solid rgb(184, 184, 184);
    color: rgb(126, 126, 126);
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
}

.collection-item-container:hover .similar-date{
    display: block;
    cursor: pointer;
}








.dash-display-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 1100px;
    margin-left: 100px;
}

.dash-main-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    width: 100%;
    height: 570px;
    border: 1px solid gainsboro;
}

.dash-titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
}

.dashbar-right {
    display: flex;
    align-items: center;
}

.titlebar-text {
    font-family: 'Raleway', 'sans-serif';
    color: rgb(107, 106, 106);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100px;

    /* border: 1px solid red; */
}

.titlebar-text > h3 {
    display: flex;
    font-size: 58px;
    margin: 0 0 10px 0;
    /* border: 1px solid blue; */
}

.titlebar-text > p {
    font-size: 22px;
    margin: 0 0 5px 7px;
    color: black;
    /* border: 1px solid greenyellow; */
}

.create-date-btn {
    background-color: #15beff;
    border-radius: 5px;
    border-style: none;
    font-family: 'Raleway', 'san-serif';
    font-size: 20px;
    /* height: 80px;
    width: 250px; */
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-date-btn:hover {
    opacity: 0.8;
}

.home-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    /* background-color: red; */
    margin-top: 80px;
}

.moods-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    /* background-color: green; */
    font-family: 'Raleway', 'sans-serif';
}

.moods-container-main {
    display: flex;
    flex-wrap: wrap;
}

.mood-box {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mood-box:hover {
    opacity: .8;
}

#easy-night-out {
    background-image: url("../../images/easy-night-2.jpg");
    background-position: center;
    background-size: cover;
}

#adrenaline-rush {
    background-image: url("../../images/adrenaline.jpg");
    background-position: center;
    background-size: cover;
}

#feelin-fancy{
    background-image: url("../../images/fancy-date.png");
    background-position: center;
    background-size: cover;
    color: white;
}


#artistic {
    background-image: url("../../images/artsy-date.jpg");
    background-position: center;
    background-size: cover;
}

#lets-get-weird {
    background-image: url("../../images/weird.jpg");
    background-position: center;
    background-size: cover;
}

#mystery {
    background-image: url("../../images/mystery.jpg");
    background-position: center;
    background-size: cover;
}

.date-item-container {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
    background-color:  #f3f3f3;
    border: 1px solid gainsboro;
}

.saved-date-thumbnail {
    margin: 5px 15px 5px 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    opacity: 0.8;
}
.date-item-container:hover {
    cursor: pointer;
}

.date-item-container:hover > .saved-date-thumbnail, .active-listing > .saved-date-thumbnail{
    opacity: 1
}

/* 

@keyframes listing-in {
  0%   {}
  20%  {}
  100% {}
}

@keyframes listing-out {
    0% {}
    20% {}
    100% {}
} */