.home {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    /* background-color: #FF9994; */
}

.home-dashboard {
    display: flex;
    margin: 0 100px 0 30px;
}

.dash-sidebar {
    height: 700px;
    width: 320px;
}

.tabs-container {
    display: flex;
    color: black;
}

.tab-left {
    background-color:#FFE3E3;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 0;
    font-family: 'Raleway', 'sans-serif';
    cursor: pointer;
    font-weight: 700;
}

.tab-right {
    background-color: #FFE3E3;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 0 0;
    font-family: 'Raleway', 'sans-serif';
    cursor: pointer;
    font-weight: 700;
}

.tab-inactive {
    margin-top: 10px;
    opacity: .7;
    font-weight: 400;
}

.datesTab {
    height: 650px;
    width: 100%;
    background-color: #FFE3E3;
    overflow: scroll;
    font-family: 'Raleway', 'sans-serif'
}

.collectionsTab {
    height: 650px;
    width: 100%;
    background-color: #FFE3E3;
    overflow: scroll;
    font-family: 'Raleway', 'sans-serif'
}

.dash-display-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 1100px;
    margin-left: 100px;
}

.dash-main-display-container {
    background-color: blue;
    border-radius: 30px;
    width: 100%;
    height: 570px;
}

.dash-titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
}

.dashbar-right {
    display: flex;
    align-items: center;
}

.titlebar-text {
    font-family: 'Raleway', 'sans-serif';
    font-size: 60px;
    display: inline-block;
    position: relative;
    bottom: 0px;
}

.create-date-btn {
    background-color: #15beff;
    border-radius: 5px;
    border-style: none;
    font-family: 'Raleway', 'san-serif';
    font-size: 20px;
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-date-btn:hover {
    opacity: 0.8;
}

.home-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    /* background-color: red; */
    margin-top: 80px;
}

.moods-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    /* background-color: green; */
    font-family: 'Raleway', 'sans-serif';
}

.moods-container-main {
    display: flex;
    flex-wrap: wrap;
}

.mood-box {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
}

.mood-box:hover {
    opacity: .8;
}

.date-item-container {
    display: flex;
}

.saved-date-thumbnail {
    height: 50px;
    width: 50px;
}